body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.maincontent {
    box-shadow: 0px 4px 50px 0px #514A7E99;
    width: 1800px;
    height: 4500px;
    display: flex;
    flex-direction: column;
   align-items: center;
    background-color: #ffffff;
  }

